* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-style: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    background-color: blueviolet;
    background-image: url("/assets/images/bg-2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.user-card {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;

    display: flex;
    
}