* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-style: arial, sans-serif;
    text-align: center;
}

.container {
    height: 100vh;
    background-color: blueviolet;
    background-image: url("/assets/images/bg-2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.user-card {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-main {
    width: 100%;
    padding: 2rem 2rem 0;
    border-radius: 1rem 1rem 0 0;
    background: linear-gradient(to top, rgb(129, 111, 194), transparent 200%);

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    border: none;
    background: none;
    color: #f1e6f5;
}

.user-photo {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(156, 161, 192);
    border-radius: 50%;
    padding: 5px;
    object-fit: cover;
    margin-top: -0.5rem;
}

.user-info {
    color: white;
    text-align: center;
    margin: 2.5rem 0;
}

.card-footer {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count {
    width: 30%;
}