* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.1;
    font-family: "M PLUS Rounded 1c", Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    min-height: 100vh;
    background-color: blueviolet;
    background-image: url("./../images/bg-2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.user-card {
    flex-basis: 23rem;
    min-width: 15rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}

.card-main {
    line-height: initial;
    min-height: 22rem;
    padding: 2rem 2rem 0;
    border-radius: 1rem 1rem 0 0;
    background: linear-gradient(to top, rgb(129, 111, 194), transparent 200%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.btn {
    border: none;
    background: none;
    color: #f1e6f5;
    font-size: 1.5rem;
}

.user-photo {
    width: 12rem;
    height: 12rem;
    border: 1px solid rgb(156, 161, 192);
    border-radius: 50%;
    padding: 0.3rem;
    object-fit: cover;
    margin-top: -1.2rem;
    margin-bottom: auto;
}

.user-info {
    margin-bottom: auto;
    color: white;
}

.link {
    color: #f1e6f5; 
    text-decoration: none;
}

.card-footer {
    min-height: 9rem;
    padding: 0 2rem 2rem;
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.feather-btn{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgb(178, 162, 236);
    color: white;
    margin-top: -1.5rem;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.count-container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.count-item {
    color: gray;
    flex-basis: 6rem;
    flex-shrink: 0;
}

.count {
    font-size: 2.6rem;
    font-weight: 200;
}